html, body{
    padding: 0px;
    margin: 0px;
}
nav{
    position: fixed;
    width: 100%;
    /*background-color: rgba(255,255,255,0.2);*/
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid rgba(244,244,244,0.9);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.nav-fixed{
    position: fixed;
    width: 100%;
    z-index: 10;
    box-shadow: 0px 3px 8px #eee;
}
.menu{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.menu-item{
    display: inline-block;
    padding: 15px;
    font-size: 24px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.brand{
    font-size: 26px;
    padding: 0px 10px;
    display: inline-block;
    cursor: pointer;
}
.wrap-brand:focus{
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.menu-item:hover{
    cursor: pointer;
    background-color: rgba(244,244,244,0.9);
}
nav a, nav a:focus, nav a:hover{
    color:#292b2c;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.row{
    margin: 0px;
}
.page{
    padding-top: 70px;
}
.gradient{
   background-image: linear-gradient(135deg,#271b38,#563d7c,#7952b3);
}
.rm-masterhead{
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(244,244,244,0.9);
}
.rm-title{
    font-size: 2.5em;
    text-align: center;
}
.rm-title-white{
    font-size: 2.5em;
    text-align: center;
    color: #e6e6e6;
}
.rm-lead{
    color: #555;
    font-weight: 200;
    font-size: 1.5em;
    text-align: center;
}
.rm-head{
    text-align: left;
}
.rm-text{
    font-size: 1.15em;
    text-align: left;
}
.rm-padding-top-15{
    padding-top: 15px;
}
.rm-masterhead img{
    max-width: 100%;
}

.rm-input{
    outline: none;
    border-radius: 4px;
    border: none;
    background-color: rgba(230, 230, 230, 0.7);
    color: #292b2c;
    font-size: 1.15em;
    padding: 0.5rem 1rem;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.rm-input:focus{
    background-color: #f2f2f2;
}
footer{
    padding: 35px;
    padding-bottom: 50px;
    background-color: #dddddd;
    font-size: 14px;
    font-weight: 700;
    color: #999999;
}
.site-info{
    text-align: center;
}
.footer-menu{
    list-style: none;
}
.footer-menu-link, .footer-menu-link:focus, .footer-menu-link:visited{
    line-height: 2em;
    color: #999999;
}
.footer-menu-item{
    display: block;
    cursor: pointer;
}
.social-icon{
    margin-left: 15px;

}